*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

.btn{
  padding: 20px 40px;
  background-color: coral;
}

.center{
  position: relative;
  right: 50%;
  font-size: 30px;
  margin-top: 10px;
}

.alignment{
  position: absolute;
  top: 50%;
  left: 50%;

}